.x-tbar-excelbut{
	background-image: url(img/excel.png);
}

.x-tbar-addbut{
	background-image: url(img/user_add.gif);
}
.x-tbar-delbut{
	background-image: url(img/delete.png);
}
.x-tbar-editbut{
	background-image: url(img/edit.png);
}

@font-face {
	font-family: 'PFAgoraSansPro-Reg' !important;
	src: url('PFAgoraSansPro-Reg.ttf') !important; 
}

.noteditable input[type="text"] {
	background: rgb(222,234,246);
}

.node-und {
	text-decoration: underline;
	text-decoration-style: solid;
}

.x-column-header-last {
	border-right: 1px solid silver;
}
.x-column-header-trigger {
	width: 100%;
	background-image: none;
	background-color: transparent;
	border-left: none;
}

.x-column-header-open .x-column-header-trigger {
	background-color: transparent;
}

.ux-rangemenu-icon {
    display: block;
    height: 16px;
    background: no-repeat 5px center;
}
.ux-rangemenu-gt {
    background-image: url(img/greater_than.png) !important;
}
.ux-rangemenu-lt {
    background-image: url(img/less_than.png) !important;
}
.ux-rangemenu-eq {
    background-image: url(img/equals.png) !important;
}
.ux-filtered-column {
    font-style: italic !important;
    font-weight: bold !important;
}
.ux-gridfilter-text-icon {
    background-image: url(img/find.png) !important;
}
