/*Подлючение шрифтов*/

@font-face {
    font-family: 'Pictos';
    src: url("pictos/pictos.eot");
    src: url("pictos/pictos.eot?#iefix") format("embedded-opentype"),
    url("pictos/pictos.woff") format("woff"),
    url("pictos/pictos.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/*общие стили*/

html, body {
    width: 100%;
    min-width: 1024px !important;
    height: 100%;
    min-height: 672px !important;
}

.x-column-header-align-right {
    text-align: left;
}

/*тригер поля input*/

.x-form-search-trigger {
    background: url(images/icon-more.png) no-repeat;
    width: 22px;
}

.x-form-search-trigger {
    background-position: 0 !important;
}

/*Тригер таблицы*/

.x-column-header-checkbox {
    border-color: silver;
}

.x-column-header-trigger {
    width: 100%;
    background-image: none;
    background-color: transparent;
    border-left: none;
}

.x-column-header-open .x-column-header-trigger {
    background-color: transparent;
}

.ux-filtered-column {
    font-style: italic !important;
    font-weight: bold !important;
    text-decoration: underline !important;
}

.x-form-type-text:focus + .x-column-header-trigger {
    width: 0;
    overflow: hidden;
}

/*Решение проблемы по блокировке курсора*/

.x-unselectable {
    user-select: text !important;
    -o-user-select: text !important;
    -ms-user-select: text !important;
    -moz-user-select: -moz-text !important;
    -webkit-user-select: text !important;
}

/*Нередактируемое поле*/

.noteditable_form tbody {
    border: none !important;
}

/*.noteditable .x-form-trigger-wrap {*/
    /*border: 1px solid rgb(199, 219, 240);*/
/*}*/

.noteditable input[type="text"] {
    background: rgb(222, 234, 246);
}

.noteditable input[type="button"] { /*радио-батоны*/
}

.noteditable input[role="textbox"] { /*даты*/
    /*border: none;*/
}

/*.noteditable .x-form-text {*/
    /*border-color: rgb(199, 219, 240) !important;*/
/*}*/

.noteditable textarea {
    background: rgb(222, 234, 246);
    border: 1px solid rgb(199, 219, 240);
}

.noteditable .x-boundlist {
    background: rgb(222, 234, 246);
    border: 1px solid rgb(199, 219, 240);
}

.noteditable label { /*ins*/
    text-decoration: none;
    color: rgb(42, 107, 156);
}

.noteditable span { /*ins*/
    text-decoration: none;
    color: rgb(42, 107, 156);
}

/*Неактивное поле*/

.notactive input {
    background: rgb(242, 242, 242);
    border: 1px solid rgb(225, 225, 225);
}

.notactive textarea {
    background: rgb(242, 242, 242);
    border: 1px solid rgb(225, 225, 225);
}

.notactive label {
    color: rgb(184, 184, 184);
}

/*Удаленная строка*/

.disabled-row td {
    color: rgb(162, 162, 162) !important;
    background: rgb(241, 241, 241) !important;
}

/*Черновик*/

.temp-status-row .x-grid-cell,
.temp-status-row  input[role="textbox"],
.temp-status-row textarea {
    background-color: #F2ECBB;
    color: rgb(168, 120, 28);
}

/*Черновик*/

.success-status-row .x-grid-cell {
    color: #3c763d;
    background-color: #dff0d8;
}

.yellow-row .x-grid-cell,
.yellow-row  input[role="textbox"],
.yellow-row textarea
 {
    color: #6C6E31;
    background-color: #F0E090;
}

/*Выделение поля*/

.x-grid-row-selected .x-grid-td {
    background-color: #c1ddf1 !important;
}

/*Cтиль хедера Viewport*/

div.headerpanel {
    border-bottom: solid 3px rgb(199, 231, 255) !important;
}

.headerpanel .x-panel-body-default {
    background: rgb(209, 235, 255) !important;
}

/*Фон панели Viewport*/

.backgroundGenMenu {
    background: rgb(57, 150, 214) !important;
}

/*Удаленная позиция*/

.del-status-row .x-grid-cell {
    background: rgb(242, 242, 242);
    color: rgb(184, 184, 184);
}

/*Стили без иконки*/

/**
 *.x-message-box-question {
 *	width: 0px !important;
 *	height: 0px !important;
 *	margin-left: -45px !important;
 *}
*/

/*Иконка "Вопрос" msg.confirm*/

.x-message-box-question {
    background-image: url(images/icon-question.png) !important;
}

/*Стиль иконки "Поиск" general_gridLbar*/

.oiSearch {
    color: rgb(237, 76, 76) !important;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}

.sync-col {
    background-image: url(images/bind.png) !important;
    color: rgb(255, 255, 255);
    width: 90px;
    height: 23px;
    margin: -2px -3px -3px -5px;
}

.sync-col:hover {
    cursor: pointer;
}

.unsync-col {
    background-image: url(images/unbind.png) !important;
    color: rgb(255, 255, 255);
    width: 90px;
    height: 23px;
    margin: -2px -3px -3px -5px;
}

.unsync-col:hover {
    cursor: pointer;
}

.x-panel-default {
    border-color: silver !important;
}

.send-col {
    background-image: url(images/send.png) !important;
    color: rgb(255, 255, 255);
    width: 90px;
    height: 23px;
    margin: -2px 5px -3px 0;
}

.send-col:hover {
    cursor: pointer;
}

.allow-col {
    background-image: url(images/approve.png) !important;
    color: rgb(255, 255, 255);
    width: 90px;
    height: 23px;
    margin: -2px 5px -3px 0;
}

.allow-col:hover {
    cursor: pointer;
}

.deny-col {
    background-image: url(images/turn-back2.png) !important;
    color: rgb(255, 255, 255);
    width: 90px;
    height: 23px;
    margin: -2px 5px -3px 0;
}

.deny-col:hover {
    cursor: pointer;
}

/*.barcodeButtonGroup {
  border: none;
}*/

/*input[type="text"]:disabled { border-color: #eeeeee !important; }*/

/*.x-form-field input:disabled {border-color: #eeeeee !important; }*/

/*border: 1px solid rgb(199,219,240); .x-form-trigger-wrap */
/*
.x-form-trigger-wrap .x-unselectable {
	border: 1px solid rgba(255, 0, 0, .3) !important ;
	opacity: 0.30000001192092896 !important;
}*/

.x-item-disabled .x-form-trigger-wrap {
    border-bottom-color: rgba(217, 217, 217, .5) !important;
    border-left-color: rgba(217, 217, 217, .5) !important;
    border-right-color: rgba(217, 217, 217, .5) !important;
    border-top-color: rgba(217, 217, 217, .5) !important;
}

.oiadd {
    font-size: 15px !important;
    color: rgb(57, 146, 214) !important;
}

/*                  Notifications                 */
#instructions ul li {
    list-style-type: disc;
    list-style-position: outside;
    font-size: 12px;
    margin: 0px 0px 0px 20px;
}

/* Icons */
.ux-notification-icon-information {
    background-image: url('images/icon16_info.png');
}

.ux-notification-icon-error {
    background-image: url('images/icon16_error.png');
}

/* Using standard theme */
.ux-notification-window .x-window-body {
    text-align: center;
    padding: 15px 5px 15px 5px;
}

/* Custom styling */
.ux-notification-light .x-window-header {
    background-color: transparent;
}

body .ux-notification-light {
    background-image: url('images/fader.png');
}

.ux-notification-light .x-window-body {
    text-align: center;
    padding: 15px 5px 20px 5px;
    background-color: transparent;
    border: 0px solid white;
}

/*                  Notifications                 */

.ux-notification-winInformation {
    text-align: center;
    padding: 13px 15px 10px 15px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(57, 146, 214) !important;
    border-radius: 3px !important;
    border: 4px solid;
}

.ux-notification-winSuccess {
    text-align: center;
    padding: 13px 15px 10px 15px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(23, 163, 33) !important;
    border-radius: 3px !important;
    border: 4px solid;
}

.ux-notification-winError {
    text-align: center;
    padding: 13px 15px 10px 15px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(213, 64, 64) !important;
    border-radius: 3px !important;
    border: 4px solid;
    z-index: 19999 !important;
}

.ux-rangemenu-icon {
    display: block;
    height: 16px;
    background: no-repeat 5px center;
}

.ux-rangemenu-gt {
    background-image: url(images/greater_than.png) !important;
}

.ux-rangemenu-lt {
    background-image: url(images/less_than.png) !important;
}

.ux-rangemenu-eq {
    background-image: url(images/equals.png) !important;
}

.ux-filtered-column {
    font-style: italic !important;
    font-weight: bold !important;
}

.ux-gridfilter-text-icon {
    background-image: url(images/find.png) !important;
}

.createSkuGroupSyncWindow .x-panel-default-outer-border-trl {
    border-top-color: silver !important;
    border-right-color: silver !important;
    border-left-color: silver !important;
}

.createSkuGroupSyncWindow .x-panel-default-outer-border-rbl {
    border-right-color: silver !important;
    border-bottom-color: silver !important;
    border-left-color: silver !important;

}

/*.x-toolbar {
  padding: 0px;
}*/

/*чертовы бордюры, больше не нужны :( */

/*.x-btn-group-default-framed {
	border: none !important;
}
.x-btn-group-default-framed-notitle {
	border: none !important;
}*/

/*#slaveGroupSyncItemselector-id .x-boundlist-item {
	border-color: grey;
}*/

.x-grid-cell-checkcolumn {
    background-color: rgb(204, 204, 204) !important;
}

.attribute-button {
    margin: 10px;
}

.alert-row .x-grid-cell, 
.alert-row input[role="textbox"],
.alert-row textarea {
    background-color: #ffe2e2;
    color: #900;
}