.logo_asna {
	height: 55px;
}

body {
	background-color: #FFFFFF!important;
}

.x-panel-header-text-container-default {
	color: #FFFFFF!important;
}

.x-toolbar-default {
	background-color: #DFF3D8!important;
}

.x-tab-inner {
	color: #FFFFFF!important;
}

.x-column-header-trigger {
	background-color: transparent!important;
	background-image: none!important;
	width: 100%!important;
	border-left: none!important;
}

$panel-header-color: #FFFFFF!default;
$panel-header-background-color: #3996C6!default;


$accordion-header-color: #DFF3D8!default;
$accordion-header-background-color: #56b763!default;
$accordion-background-color: #DFF3D8!default;
$accordion-header-over-background-color: #56b763!default;


$base-light-color: #3996C6 !default;

$base-color: #ADD2ED !default;
$base-highlight-color: #ADD2ED !default;

/*$font-family: Tahoma !default;*/

$grid-row-cell-font-size : 12px !default;