html, body {
	width: 100%;
	height: 100%;
	font-family:"Consolas",Helvetica,Arial,sans-serif;
}
#main {
	height: 80%;
	width: 100%;
}

#wrapper {
	background-color: #006118;
	border-radius: 5px 5px 5px 5px;
    margin: 0 auto;
    padding: 15px;
    width: 560px;
	height: 350px;
} #wrapper legend {
	border-top: 0px solid #ffbb00;
	border-bottom: 0px solid #CCFF00;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 0px;
	height: 72px;
} .form-actions {
	background: none;
	border: none;
	padding: 0px;
	margin-top: 8px;
} 
.btn {
	height: 30px;
	width: 200px !important;
	background: url("img/RDS_but.jpg") no-repeat left top transparent !important;
}
label {
	color: black;
	margin-bottom: 0px;
} input[type="text"] , input[type="password"] {
	color: #111111;
	text-align:center;
}
fieldset {
	/*padding-top: 110px;*/
	margin:0;
	border:0;
}
input[type="text"] {
	margin-bottom: 0px;
}
.control-group {
	margin-bottom: 0px;
	margin-top: 5px !important;
}

/******************/
#loading-mask {
		position: absolute;
		left:     0;
		top:      0;
		width:    100%;
		height:   100%;
		z-index:  20000;
		background-color: white;
		/*background:	url(img/loading.png) repeat;*/
	}
	#loading {
		position: absolute;
		left:		50%;
		top:		50%;
		z-index:	20001;
		height:	100px;
		width:	100px;
	} 
	#loading .loading-indicator {
		background:	url(img/icon-loading-animated.gif) no-repeat;
		color:	#555;
		font:	bold 13px tahoma,arial,helvetica;
		text-align:	center;
		height:	100px;
		width:	100px;
	}