@font-face {
    font-family: 'Pictos';
    src: url("../ext/examples/build/KitchenSink/ext-theme-neptune/resources/pictos/pictos.eot");
    src: url("../ext/examples/build/KitchenSink/ext-theme-neptune/resources/pictos/pictos.eot?#iefix") format("embedded-opentype"),
		url("../ext/examples/build/KitchenSink/ext-theme-neptune/resources/pictos/pictos.woff") format("woff"),
		url("../ext/examples/build/KitchenSink/ext-theme-neptune/resources/pictos/pictos.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html, body {
	width: 100%;
	min-width: 1024px !important;
	height: 100%;
	min-height: 672px !important;
}
.x-body {
	font-size: 12px;
	font-family: "Helvetica Neue", Arial, Verdana, sans-serif !important;
}
.header-text {
	font: bold 16px "Helvetica Neue", Arial, Verdana, sans-serif !important;
}
.header-text text {
	fill: #fff;
	/*text-shadow: 0 1px 0 #f5f5f5;*/
}
.x-tree-icon-leaf {
	display: none !important;
}

.x-panel-header-default {
	border: 0px;

}	
.datefieldfrom-css{
	text-align: center;
	background-color: #FFFFFF;
	/*text-decoration: underline;
	color: #0000FF;
	border: 0px;
	padding: 0px;*/
	font-size: 12px;
}

.datefieldto-css{
	text-align: center; 
	background-color: #CCD6D6;
	/*text-decoration: underline;
	color: #0000FF;
	border: 0px;
	padding: 0px;*/
	font-size: 12px;
}

.base-grid-css{
	background-color: #CCD6D6 !important;
}

.x-tbar-excelbut{
	background-image: url(img/excel.png);
}

.x-tbar-savetemplbut{
	background-image: url(img/save.gif);
}

.x-tbar-loadtemplbut{
	background-image: url(img/table_refresh.png);
}

.x-tbar-cleartemplbut{
	background-image: url(img/clear.png);
}

.x-column-header {
	font: normal 11px "Helvetica Neue", Arial, Verdana, sans-serif !important;
}
.x-datepicker-column-header {
	display: none !important;
}

.x-accordion-layout-ct {
	padding: 0px;
}

.x-border-layout-ct {
	background-color: #0099cc;
}

.x-panel-header-default {
	background-image: none;
	background-color: #330066;
}
.x-panel-header-default .x-tool-img {
	background-color: #330066;
}

.x-accordion-hd .x-tool-img {
	background-color: #99cc33;
}
.x-accordion-item .x-accordion-hd {
	background: #99cc33;
}
/*.x-panel-default {
	border-color: #330066;
}*/

.x-panel-body-default {
	border-color: #330066;
}

#dashboardChartPanel-body {
	border-top: 0px;
	border-bottom: 1px solid silver !important;
}

.x-grid-body {
	border-color: silver;
}
.x-tool {
	width: 16px !important;
	height: 16px !important;
}

.x-tab {
	border-width: 0px !important;
}
#dashboardChartPanel .x-tab {
	border-color: silver;
	border-width: 1px !important;
	border-bottom: none !important;
}
#dashboardChartPanel .x-tab-bar-strip {
	border-top: 1px solid silver;
}
#content-panel-body {
	border-top: none !important;
}
#dashboardChart-body {
	border-top: none !important;
}
#west-region-body {
	border-bottom: 1px solid silver !important;
}

.upload-icon {
	background: url('img/image_add.png') no-repeat 0 0 !important;
}

.x-tree-view {
	border-top: 1px solid silver !important;
	border-bottom: 1px solid silver !important;
}

.x-grid-row .x-grid-cell {
	font: normal 11px/15px helvetica,arial,verdana,sans-serif;
}

.x-grid-cell-inner {
	line-height: 13px;
}

.x-spotlight {
    background-color: #ccc;
    z-index: 8999;
    position: absolute;
    top: 0;
    left: 0;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha(opacity=50);
    width: 0;
    height: 0;
    zoom: 1;
    font-size: 0;
}

.x-tab-default-top {
	background-color: #add2ed;
}
.x-tab-default-active {
	background-color: #fff;
}
.x-tab-default .x-tab-inner {
	color: #157fcc;
}

.x-tab-bar-strip-default {
	background-color: #fff;
}

.x-column-header-last {
	border-right: 1px solid silver;
}
.x-column-header-trigger {
	width: 100%;
	background-image: none;
	background-color: transparent;
	border-left: none;
}

.x-column-header-open .x-column-header-trigger {
	background-color: transparent;
}
#logo .x-box-inner  {
	overflow: visible !important;
}
.x-btn-default-small {
	padding: 4px;
	border: none;
	background-color: #0099cc;
	background-image: none;
}
.x-btn-default-small-pressed {
	border: none;
	background-color: #99cc33;
	background-image: none;
}
.x-btn-default-small-over {
	background-color: #ccc;
}
.x-btn-default-small-pressed .x-btn-inner {
	color: #666;
}
.x-btn-default-toolbar-small{
	border: none;
	background-image: none;
	background-color: #f5f5f5;
}
.x-btn-default-toolbar-small-pressed {
	border: none;
	background-image: none;
	background-color: #0099cc;
}
.x-btn-default-toolbar-small-over{
	background-color: #ccc;
}
.x-btn-default-toolbar-small-pressed .x-btn-inner {
	color: #fff;
}

.x-btn-default-medium {
	border: none;
	background-color: #330066;
	background-image: none;
}
.x-btn-default-medium-over {
	background-color: #ccc;
}

.ux-rangemenu-icon {
    display: block;
    height: 16px;
    background: no-repeat 5px center;
}
.ux-rangemenu-gt {
    background-image: url(images/greater_than.png) !important;
}
.ux-rangemenu-lt {
    background-image: url(images/less_than.png) !important;
}
.ux-rangemenu-eq {
    background-image: url(images/equals.png) !important;
}
.ux-filtered-column {
    font-style: italic !important;
    font-weight: bold !important;
}
.ux-gridfilter-text-icon {
    background-image: url(images/find.png) !important;
}
.x-item-disabled input {
	background-color: grey;
}
.noedit {
	background-color: grey;	
}